# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
*.pyc

# working folder
build/
reference/

test.spec
*.spec
*.po
vbcc/bin/dtgen.exe
vbcc/bin/vbcchc12.exe
vbcc/bin/vbcctestdev.exe
*.o
vbcc/bin/vbccalpha.exe
vbcc/machines/alpha/
vbcc/machines/hc12/
vbcc/machines/bi386/
vbcc/machines/testdev/
vbcc/machines/bi386/machine.h
test.asm
build/asplasma/out00-PYZ.toc
build/asplasma/warnasplasma.txt
vbcc/machines/plasma/av.o
vbcc/machines/plasma/opt.o
*.ic2